*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: #29A51C;
  user-select: none;
}

h1 {
  width: 100vw;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.80em;
  text-shadow: 0 0 10px #026300,
  0 0 20px #026300,
  0 0 40px #026300,
  0 0 80px #026300,
  0 0 160px #026300;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}